*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

min-height:100vh;

background:linear-gradient(-45deg,#020617,#0f172a,#003344,#001f3f);

background-size:400% 400%;

animation:bg 10s infinite;

color:white;

display:flex;

justify-content:center;

align-items:center;

}


@keyframes bg{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}





.loader{

width:80px;

height:80px;

border:8px solid #333;

border-top:8px solid #00ffcc;

border-radius:50%;

animation:spin 1s linear infinite;

}



@keyframes spin{

100%{

transform:rotate(360deg);

}

}







.container,
.dashboard{

display:none;

width:360px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:25px;

border-radius:20px;

box-shadow:0 0 25px #00ffcc;

animation:show .6s;

}



@keyframes show{

from{

transform:scale(.7);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}






h1{

text-align:center;

color:#00ffcc;

margin-bottom:15px;

}



h2,h3{

margin-top:15px;

}





input,select{


width:100%;

padding:12px;

margin:8px 0;

border:none;

border-radius:10px;

outline:none;

}




button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:20px;

background:linear-gradient(45deg,#00ffcc,#00aaff);

font-weight:bold;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:scale(1.05);

box-shadow:0 0 20px #00ffcc;

}







.balance,
.cart,
.checkout,
.card,
.adminBox{

background:rgba(255,255,255,.1);

padding:15px;

margin-top:15px;

border-radius:15px;

}







.products{

display:grid;

gap:15px;

}





.card{

text-align:center;

}



.card img{

width:100%;

border-radius:15px;

}






#products,
#adminProducts,
#balanceRequests{

margin-top:15px;

}




.product{

background:#111827;

padding:10px;

margin:10px 0;

border-radius:10px;

}





.adminBox{

border:1px solid #00ffcc;

}



b{

color:#00ffcc;

}
``
